html,body{
    width:100%;height:100%;
    padding:0;margin:0;
    overflow:hidden;
    font-family: "Microsoft Yahei";
}
*{box-sizing: border-box;}
a{text-decoration: none;padding:0;margin:0;}
#fullpage{
    width:100%;height:100%;
}
section{
    width:100%;height:100%;
}
section:nth-child(1){
    background:url(../img/1.jpg) ;
    position: relative;
}
section:nth-child(2){
    background:url(../img/2.jpg) ;
    position: relative;
}
section:nth-child(3){
    background:url(../img/3.jpg) ;
    position: relative;
}
section:nth-child(4){
    background:url(../img/4.jpg) ;
    position: relative;
}
header{
    width:100%;
    height:60px;
    background: #168bd8;
    position: fixed;
    top:0;left:0;
    z-index: 3;
}
.header{
    width: 1000px;
    height: 100%;
    margin: auto;
}
.header a{float: left;}
.logo{
    width: 120px;height: 40px;display: block;background: url(../img/10.png) 0 0;margin-top: 15px;
}
.index{font-size: 15px;color: #fff;width: 100px;height: 60px;text-align: center;line-height: 90px;}
.index:hover{color: #67cbff;}
.header a:nth-child(2){
    margin-left: 100px;
}
.last{font-size: 12px;color: #fff;
    padding:0 10px;line-height: 95px;}
.header a:nth-child(5){
    margin-left: 180px;
}
.header a:last-child{
    color: #FFDA28;
}
.center{width: 1000px;margin: auto;margin-top: 60px;position: relative;}
.indexrom{
    width: 501px;height: 158px;background: url(../img/15.png);position: absolute;
    top:60px;
}
.bottom{width: 100%;height: 186px;position: absolute;bottom: 0;background: url(../img/2.jpg) 0 0}
.bgshink{
    width: 276px;height: 235px;background: url(../img/11.png)no-repeat;margin-top: -50px;margin-left: 40px;float: left;
}
.bgtoy{width:242px;height:248px;background: url(../img/16.png)no-repeat;margin-top: -191px;margin-left: 45px;float: left;}
.bglkc{width: 63px;height: 78px;float: left;background: url(../img/12.png)no-repeat;margin-top: -13px;margin-left: 265px;}
.bgderyio{
    width: 260px;height: 175px;float: left;background: url(../img/13.png)no-repeat;margin-top: -47px;margin-left: 155px;
}
.bottom1{width: 100%;height: 186px;position: absolute;bottom: 0;}
.za{width: 44px;height: 44px;background: #35B568;float: left;margin-top: 82px;}
.ca{width: 88px;height: 88px;background: #4AC179;float: left;margin-top: 38px;margin-left: 44px;}
.xa{width: 44px;height: 44px;background: #8AE75A;float: left;margin-top: 82px;}
.za:nth-child(1){margin-left: 290px;}
.bottom1 div:nth-child(5){margin-left: 44px;}
.bottom1 div:nth-child(3){margin-left:0; }
.bottom1 div:nth-child(4){margin-left:338px; }
.bottom2{width: 100%;height:138px;background: url(../img/3.png)no-repeat;position: absolute;bottom:0;}
